<!-- Default form login -->
<form #loginFormRef class="text-center border border-light p-5 ml-auto mr-auto"
      style="max-width: 500px; margin-top: 10%; background: #E1BB80"
      (ngSubmit)="login()"
>

  <p class="h4 mb-4" style="font-family: AppleGothic">< LAZY ></p>

  <!-- Email -->
  <input name="email" type="email" id="email" class="form-control mb-4" [(ngModel)]="email" placeholder="E-mail">

  <!-- Password -->
  <input name="password" type="password" id="password" class="form-control mb-4" [(ngModel)]="password" placeholder="Password">

  <div class="d-flex justify-content-around">
    <div>
      <!-- Forgot password -->
      <a href="">Forgot password?</a>
    </div>
  </div>

  <!-- Sign in button -->
  <button mdbBtn style="background: #A8763E; color: white" block="true" class="my-4" type="submit">Sign in</button>

  <!-- Register -->
  <p>Not a member? <br>
    <a href="">
      Visit us on
      <a type="button" (click)="goToLink('https://www.facebook.com/groups/345373382781632/')" class="light-blue-text mx-2">
        <mdb-icon fab icon="facebook"></mdb-icon>
      </a>
      <a type="button" (click)="goToLink('https://www.reddit.com/r/lazyguild')" class="light-blue-text mx-2">
        <mdb-icon fab icon="reddit" style="color: red"></mdb-icon>
      </a>
    </a>
  </p>

  <div *ngIf='loginError' class="alert alert-danger align-middle" style=" margin: auto;">
    <label class="help-block">{{loginError}}</label>
  </div>

</form>
<!-- Default form login -->
