<mdb-card class="testimonial-card">
  <!--Bacground color-->
  <div *ngIf="user.mainClass === 'warrior'" class="card-up lighten-1" style="background: #b0a066"></div>
  <div *ngIf="user.mainClass === 'hunter'" class="card-up lighten-1" style="background: #f4f2f5"></div>
  <div *ngIf="user.mainClass === 'rogue'" class="card-up lighten-1" style="background: #f7f745"></div>
  <div *ngIf="user.mainClass === 'shaman'" class="card-up lighten-1" style="background: #3f7fe0"></div>
  <div *ngIf="user.mainClass === 'druid'" class="card-up lighten-1" style="background: #eda813"></div>
  <div *ngIf="user.mainClass === 'mage'" class="card-up lighten-1" style="background: #6ecae0"></div>
  <div *ngIf="user.mainClass === 'priest'" class="card-up lighten-1" style="background: #f4f2f5"></div>
  <div *ngIf="user.mainClass === 'warlock'" class="card-up lighten-1" style="background: #a584b5"></div>

  <!--Avatar-->
  <div *ngIf="user" class="avatar mx-auto">
    <img src="{{classPic[user.mainClass]}}" class="rounded-circle">
  </div>

  <mdb-card-body>
    <!--Name-->
    <mdb-card-title>
      <h4>
        <strong>
          {{user.mainClassName}} ({{user.mainClassBuild}})
        </strong>
      </h4>
      <h5>{{user.IRLName}}</h5>
      <mdb-card-text>
        <strong>
          guildRank
          <br>
        </strong>
        Joined 15.08.19
      </mdb-card-text>
    </mdb-card-title>
    <hr>
    <!--Quotation-->
    <p>
      <br>
      <mdb-icon fas icon="baby-carriage" class="mr-1"></mdb-icon>
      <strong>{{user.altClassName}}</strong>
      <br>
      <span *ngIf="user.altClassName && user.altClass">
        {{user.altClass}} ({{user.altClassBuild}})
      </span>
      <span *ngIf="!(user.altClassName && user.altClass)">
        Ingen informasjon om alt
      </span>
    </p>
    <button mdbBtn type="button" color="primary" outline="true" mdbWavesEffect><mdb-icon fas icon="user-edit"></mdb-icon></button>
  </mdb-card-body>
</mdb-card>
