<!--
<mdb-card class="m-lg-auto" style="max-width: 40%">
  <mdb-card-body>
    <h4 class="flex-center">
      Velkommen til LAZY på Shazzrah!
    </h4>
  </mdb-card-body>
</mdb-card>
-->
<mdb-card cascade="true" wider="true" reverse="true" class="my-4 m-lg-auto" style="max-width: 80%; height: auto;">
  <!--Card image-->
  <div class="view view-cascade overlay waves-light" mdbWavesEffect>
    <mdb-card-img
      src="https://cdn.gamer-network.net/2019/usgamer/WoW-Classic-Header-04.jpg"
    ></mdb-card-img>
    <a>
      <div class="mask rgba-white-slight"></div>
    </a>
  </div>
  <!--/Card image-->

  <!-- Card content -->
  <mdb-card-body cascade="true" class="text-center">

    <!--Title-->
    <mdb-card-title>
      <h4>
        <strong>Velkommen til LAZY på Shazzrah!</strong>
      </h4>
    </mdb-card-title>

    <mdb-card-text>
      Dette er foreløpig utviklingsversjon av webappen
    </mdb-card-text>

  </mdb-card-body>

</mdb-card>
