<!-- SideNav slide-out button -->
<a (click)="sidenav.toggle()" mdbBtn color="primary" class="p-3 button-collapse"><mdb-icon fas icon="bars"></mdb-icon></a>
<!--/. SideNav slide-out button -->

<!-- Sidebar navigation -->
<mdb-side-nav #sidenav class="fixed" >
  <!-- Logo -->
  <li>
    <div class="logo-wrapper waves-light">
      <!--<a href="#"><img src="https://mdbootstrap.com/img/logo/mdb-transparent.png" class="img-fluid flex-center"></a>-->
      <h2 class="img-fluid flex-center">< L A Z Y ></h2>
    </div>
  </li>
  <!--/. Logo -->
  <!--Social-->
  <li>
    <ul class="social">
      <li><a (click)="goToLink('https://www.facebook.com/groups/345373382781632/')" class="icons-sm fb-ic"><mdb-icon fab icon="facebook-f"> </mdb-icon></a></li>
      <li><a (click)="goToLink('https://www.reddit.com/r/lazyguild/')" class="icons-sm fb-ic"><mdb-icon fab icon="reddit"> </mdb-icon></a></li>
      <li><a (click)="logout()" class="icons-sm fb-ic"><mdb-icon fas icon="sign-out-alt"> </mdb-icon></a></li>
    </ul>
  </li>
  <!--/Social-->
  <!-- Side navigation links -->
  <li>
    <ul class="collapsible collapsible-accordion">
      <mdb-accordion [multiple]="false" aria-multiselectable="false">

        <mdb-accordion-item class="no-collase">
          <mdb-accordion-item-head mdbWavesEffect routerLink="/app/myPage">
            <i class="fa fa-tachometer-alt fa-lg fa-fw" style="font-size: 20px"></i>
            <span menu-text class="menu-fonts h6">Dashboard</span>
          </mdb-accordion-item-head>
          <mdb-accordion-item-body></mdb-accordion-item-body>
        </mdb-accordion-item>

        <mdb-accordion-item class="no-collase">
          <mdb-accordion-item-head mdbWavesEffect routerLink="/app/guildRaids">
            <i class="fa fa-shield-alt fa-lg fa-fw" style="font-size: 20px"></i>
            <span menu-text class="menu-fonts h6">Raids</span>
          </mdb-accordion-item-head>
          <mdb-accordion-item-body></mdb-accordion-item-body>
        </mdb-accordion-item>

        <mdb-accordion-item class="no-collase">
          <mdb-accordion-item-head mdbWavesEffect routerLink="/app/guides">
            <i class="fa fa-book-open fa-lg fa-fw" style="font-size: 20px"></i>
            <span menu-text class="menu-fonts h6">Guides</span>
          </mdb-accordion-item-head>
          <mdb-accordion-item-body></mdb-accordion-item-body>
        </mdb-accordion-item>

        <mdb-accordion-item class="no-collase">
          <mdb-accordion-item-head mdbWavesEffect routerLink="/app/members">
            <i class="fa fa-users fa-lg fa-fw" style="font-size: 20px"></i>
            <span menu-text class="menu-fonts h6">Members</span>
          </mdb-accordion-item-head>
          <mdb-accordion-item-body></mdb-accordion-item-body>
        </mdb-accordion-item>

        <mdb-accordion-item class="no-collase" *ngIf="admin">
          <mdb-accordion-item-head mdbWavesEffect routerLink="/app/admin">
            <i class="fa fa-lock fa-lg fa-fw" style="font-size: 20px"></i>
            <span menu-text class="menu-fonts h6">Admin</span>
          </mdb-accordion-item-head>
          <mdb-accordion-item-body></mdb-accordion-item-body>
        </mdb-accordion-item>
      </mdb-accordion>
    </ul>
  </li>
  <!--/. Side navigation links -->
  <div class="sidenav-bg mask-strong"></div>
</mdb-side-nav>
<!--/. Sidebar navigation -->
<div class="content-area ml-auto">
  <router-outlet></router-outlet>
</div>
